.mb-30 {
  margin-bottom: 30px;
}
.title {
  margin: 20px 0px;
  width: 100%;
  height: 50px;
}
.title h1 {
  float: left;
}
.loader {
  display: flex;
  width: 100%;
  height: calc(100vh - 132px);
  justify-content: center;
  align-items: center;
}
ul.place_details {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}
ul.place_details li {
  padding-bottom: 10px;
}
.fa-heart.old-color {
  color: #bbbbbb;
}
.fa-heart.new-color {
  color: red;
}
.pageNotFound {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pageNotFound p a {
  text-decoration: none;
}
.pageNotFound p a:hover {
  font-weight: bold;
}